In [77]:
# Impoting Library
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [78]:
#Setting connection to WebDriver
driver = webdriver.Chrome(r'C:\Users\RAJVEER\Downloads\chromedriver_win32\chromedriver.exe')

In [79]:
driver = webdriver.Chrome('chromedriver.exe')

# Solution 1

In [86]:
url='https://www.naukri.com/'
driver.get(url)

In [87]:
# Element to search given data on page
search_job = driver.find_element_by_class_name('suggestor-input')
search_job

In [88]:
search_job.send_keys("Data Analyst")

In [89]:
Search_loc = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')

In [90]:
Search_loc.send_keys("Bangalore")

In [91]:
Search_button = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
Search_button

In [92]:
Search_button.click()

# Scrapping Job Details

In [93]:
title_tag = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

In [94]:
job_titles =[]

for i in title_tag:
    job_titles.append(i.text)

In [95]:
location_tag = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')

In [96]:
job_location =[]

for i in location_tag:
    job_location.append(i.text)

In [97]:
company_tag = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

In [98]:
job_company =[]

for i in company_tag:
    job_company.append(i.text)

In [99]:
exp_tag = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')

In [100]:
job_Experience =[]

for i in exp_tag:
    job_Experience.append(i.text)

In [101]:
jobs = pd.DataFrame()
jobs['Job Title']= job_titles[0:10]
jobs['Job Location']= job_location[0:10]
jobs['Company Name']= job_company[0:10]
jobs['Experienced Required']= job_Experience[0:10]
jobs

,Job Title,Job Location,Company Name,Experienced Required
0,Junior Data Analyst/ Scientist- Fresher Position,"Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru...",Sejal Consulting Hub,0-3 Yrs
1,Assistant Clinical Data Analyst,Bangalore/Bengaluru,Labcorp Drug Development India Private Limited,0-2 Yrs
2,Senior Data Analyst - CRM,Bangalore/Bengaluru,Gojek Tech,2-5 Yrs
3,Lead - Data Analyst / Scientist,Bangalore/Bengaluru,Axim Technologies,12-14 Yrs
4,Hiring For Data Analyst,Bangalore/Bengaluru,Flipkart,4-8 Yrs
5,Senior Data Analyst,Bangalore/Bengaluru,Walmart,4-7 Yrs
6,Senior Data Analyst,Bangalore/Bengaluru\n(WFH during Covid),SMEDC SERVICES PRIVATE LIMITED,4-8 Yrs
7,Senior Data Analyst - CRM,Bangalore/Bengaluru,GO-JEK India,4-8 Yrs
8,Data Analyst,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Verizon,4-9 Yrs
9,Global Data Analyst,Bangalore/Bengaluru,ExecBoardinAsia,5-10 Yrs

# Solution 2

In [110]:
url='https://www.naukri.com/'
driver.get(url)

In [111]:
# Element to search given data on page
search_job = driver.find_element_by_class_name('suggestor-input')
search_job

In [112]:
search_job.send_keys("“Data Scientist")

In [113]:
Search_loc = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')

In [114]:
Search_loc.send_keys("Bangalore")

In [115]:
Search_button = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
Search_button.click()

# Scrapping Job Details

In [116]:
title_tag = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
job_titles =[]

for i in title_tag:
    job_titles.append(i.text)

In [117]:
location_tag = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
job_location =[]

for i in location_tag:
    job_location.append(i.text)

In [118]:
company_tag = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
job_company =[]

for i in company_tag:
    job_company.append(i.text)

In [119]:
jobs = pd.DataFrame()
jobs['Job Title']= job_titles[0:10]
jobs['Job Location']= job_location[0:10]
jobs['Company Name']= job_company[0:10]
jobs

,Job Title,Job Location,Company Name
0,Sr Data Scientist,Bangalore/Bengaluru,Siemens
1,Senior/Lead Data Scientist - (Revenue Management),Bangalore/Bengaluru,o9 Solutions Management India Private Limited
2,Senior/Lead - Data Scientist (Supply Chain),Bangalore/Bengaluru,o9 Solutions Management India Private Limited
3,Senior Manager - Lead Data Scientist,Bangalore/Bengaluru,ExecBoardinAsia
4,Associate Data Scientist,"Chennai, Bangalore/Bengaluru",Shell
5,Junior Programmer - Data Scientist,Bangalore/Bengaluru,GSK India
6,Lead/Senior Data Scientist (NLP),Bangalore/Bengaluru\n(WFH during Covid),Samya.AI A FRACTAL Entity
7,Sr . Data Scientist,"Mumbai, Bangalore/Bengaluru",RKSV
8,Sr. Data Scientist,"Pune, Bangalore/Bengaluru, Mumbai (All Areas)\...",NutaNXT Technologies
9,"Senior Data Scientist, Data Sciences",Bangalore/Bengaluru,Vmware

# Solution 3

In [123]:
url='https://www.naukri.com/'
driver.get(url)

In [124]:
# Element to search given data on page
search_job = driver.find_element_by_class_name('suggestor-input')
search_job

In [125]:
search_job.send_keys("“Data Scientist")

In [126]:
Search_button = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
Search_button.click()

In [127]:
location_check = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i')

In [128]:
location_check.click()

In [129]:
salary_check = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')
salary_check.click()

# Scrapping Job Details

In [130]:
title_tag = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
job_titles =[]

for i in title_tag:
    job_titles.append(i.text)

In [134]:
location_tag = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
job_location =[]

for i in location_tag:
    job_location.append(i.text)

In [135]:
company_tag = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
job_company =[]

for i in company_tag:
    job_company.append(i.text)

In [136]:
exp_tag = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
job_Experience =[]

for i in exp_tag:
    job_Experience.append(i.text)

In [137]:
jobs = pd.DataFrame()
jobs['Job Title']= job_titles[0:10]
jobs['Job Location']= job_location[0:10]
jobs['Company Name']= job_company[0:10]
jobs['Experienced Required']= job_Experience[0:10]
jobs

,Job Title,Job Location,Company Name,Experienced Required
0,Job Opportunity || Data Scientist || HCL Techn...,Delhi / NCR,HCL,2-6 Yrs
1,Data Scientist | Python | Machine Learning | D...,"Noida, Gurgaon/Gurugram, Delhi / NCR",Schlesinger Group,0-3 Yrs
2,Senior Data Scientist I,Gurgaon/Gurugram,Delhivery,3-7 Yrs
3,Data Scientist,Gurgaon/Gurugram,T & A Solutions,2-6 Yrs
4,Openings For Jr/mid/Sr level data Scientists,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Pluto seven business solutions (p) limited,2-6 Yrs
5,Data Scientist role,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",Mount Talent Consulting Private Limited,1-4 Yrs
6,Urgent Hiring For Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,1-6 Yrs
7,Urgent Hiring For Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,1-6 Yrs
8,Data Scientist role,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",Mount Talent Consulting Private Limited,1-3 Yrs
9,Data Scientist role,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",Mount Talent Consulting Private Limited,1-3 Yrs

# Solution 4

In [203]:
url='https://www.flipkart.com/'
driver.get(url)

In [204]:
# Element to search given data on page
search_product = driver.find_element_by_class_name('_3704LK')
search_product.send_keys("sunglasses")

In [205]:
Search_button = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
Search_button.click()

In [206]:
#Data From First Page
brand_tag = driver.find_elements_by_xpath('//a[@class="_2WkVRV"]')
brand =[]

for i in brand_tag:
    brand.append(i.text)
len(brand)

40

In [207]:
des_tag = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
product_des =[]

for i in des_tag:
    product_des.append(i.text)
len(product_des)

40

In [ ]:
price_tag = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
product_price=[]
for i in price_tag:
    product_price.append(i.text)
len(product_price)

In [209]:
price_discount = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
product_discount =[]

for i in price_discount:
    product_discount.append(i.text)
len(product_discount)

40

In [215]:
Next_button = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
Next_button.click()

In [218]:
brand_tag = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
for i in brand_tag:
    brand.append(i.text)
len(brand)

80

In [219]:
des_tag = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
for i in des_tag:
    product_des.append(i.text)
len(product_des)

80

In [220]:
price_tag = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
for i in price_tag:
    product_price.append(i.text)
len(product_price)

80

In [221]:
price_discount = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
for i in price_discount:
    product_discount.append(i.text)
len(product_discount)

80

In [222]:
Next_button = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
Next_button.click()

In [223]:
brand_tag = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
for i in brand_tag:
    brand.append(i.text)
len(brand)

120

In [224]:
des_tag = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
for i in des_tag:
    product_des.append(i.text)
len(product_des)

120

In [225]:
price_tag = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
for i in price_tag:
    product_price.append(i.text)
len(product_price)

120

In [226]:
price_discount = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
for i in price_discount:
    product_discount.append(i.text)
len(product_discount)

120

In [227]:
products = pd.DataFrame()
products['Brand']= brand[0:100]
products['Product Description']= product_des[0:100]
products['Price']= product_price[0:100]
products['Discount']= product_discount[0:100]
products

,Brand,Product Description,Price,Discount
0,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",₹599,80% off
1,CRYSTAL CART,"Polarized, UV Protection, Gradient, Riding Gla...",₹269,82% off
2,PIRASO,UV Protection Aviator Sunglasses (54),₹200,87% off
3,Elligator,UV Protection Round Sunglasses (54),₹248,90% off
4,SRPM,UV Protection Wayfarer Sunglasses (56),₹198,84% off
...,...,...,...,...
95,VINCENT CHASE,by Lenskart UV Protection Wayfarer Sunglasses ...,₹999,50% off
96,kingsunglasses,"UV Protection, Mirrored Round Sunglasses (54)",₹211,82% off
97,Elligator,"UV Protection, Riding Glasses Rectangular, Ret...",₹305,79% off
98,maxa,"UV Protection, Riding Glasses Rectangular, Way...",₹144,79% off
99,VINCENT CHASE,by Lenskart UV Protection Aviator Sunglasses (53),₹999,50% off

# Solution 5

In [259]:
url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-%20earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC%20TSVZAXUHGREPBFGI&marketplace'
driver.get(url)

In [260]:
allreview_button = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[7]/div/div/div[5]/div/a/div/span')
allreview_button.click()

In [431]:
#Data From First Page
ratings_tag = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
ratings =[]

for i in ratings_tag:
    ratings.append(i.text)

In [432]:
review_summay_tag = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
review =[]

for i in review_summay_tag:
    review.append(i.text)

In [433]:
full_review_tag = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
full_review =[]

for i in full_review_tag:
    full_review.append(i.text)

In [434]:
Next_button = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span')
Next_button.click()

In [435]:
ratings_tag = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for i in ratings_tag:
    ratings.append(i.text)

In [436]:
review_summay_tag = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
for i in review_summay_tag:
    review.append(i.text)

In [437]:
full_review_tag = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
for i in full_review_tag:
    full_review.append(i.text)

In [438]:
Next_button = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
Next_button.click()

In [439]:
ratings_tag = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for i in ratings_tag:
    ratings.append(i.text)

In [440]:
review_summay_tag = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
for i in review_summay_tag:
    review.append(i.text)

In [441]:
full_review_tag = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
for i in full_review_tag:
    full_review.append(i.text)

In [442]:
Next_button = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
Next_button.click()

In [443]:
ratings_tag = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for i in ratings_tag:
    ratings.append(i.text)

In [444]:
review_summay_tag = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
for i in review_summay_tag:
    review.append(i.text)

In [445]:
full_review_tag = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
for i in full_review_tag:
    full_review.append(i.text)

In [446]:
Next_button = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
Next_button.click()

In [447]:
ratings_tag = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for i in ratings_tag:
    ratings.append(i.text)

In [448]:
review_summay_tag = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
for i in review_summay_tag:
    review.append(i.text)

In [449]:
full_review_tag = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
for i in full_review_tag:
    full_review.append(i.text)

In [450]:
Next_button = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
Next_button.click()

In [451]:
ratings_tag = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for i in ratings_tag:
    ratings.append(i.text)

In [452]:
review_summay_tag = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
for i in review_summay_tag:
    review.append(i.text)

In [453]:
full_review_tag = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
for i in full_review_tag:
    full_review.append(i.text)

In [454]:
Next_button = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
Next_button.click()

In [455]:
ratings_tag = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for i in ratings_tag:
    ratings.append(i.text)

review_summay_tag = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
for i in review_summay_tag:
    review.append(i.text)

full_review_tag = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
for i in full_review_tag:
    full_review.append(i.text)

In [456]:
Next_button = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
Next_button.click()

In [457]:
ratings_tag = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for i in ratings_tag:
    ratings.append(i.text)

review_summay_tag = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
for i in review_summay_tag:
    review.append(i.text)

full_review_tag = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
for i in full_review_tag:
    full_review.append(i.text)

In [458]:
Next_button = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
Next_button.click()

In [459]:
ratings_tag = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for i in ratings_tag:
    ratings.append(i.text)

review_summay_tag = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
for i in review_summay_tag:
    review.append(i.text)

full_review_tag = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
for i in full_review_tag:
    full_review.append(i.text)

In [460]:
Next_button = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
Next_button.click()

In [461]:
ratings_tag = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for i in ratings_tag:
    ratings.append(i.text)

review_summay_tag = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
for i in review_summay_tag:
    review.append(i.text)

full_review_tag = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
for i in full_review_tag:
    full_review.append(i.text)

In [462]:
Next_button = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
Next_button.click()

In [463]:
ratings_tag = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for i in ratings_tag:
    ratings.append(i.text)

review_summay_tag = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
for i in review_summay_tag:
    review.append(i.text)

full_review_tag = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
for i in full_review_tag:
    full_review.append(i.text)

In [464]:
reviews = pd.DataFrame()
reviews['Ratings']= ratings[0:100]
reviews['Reviews']= review[0:100]
reviews['Full Reviews']= full_review[0:100]
reviews

,Ratings,Reviews,Full Reviews
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Best in the market!,Great iPhone very snappy experience as apple k...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,3,Must buy!,Camera is excellent just lack of telephoto mod...
96,5,Terrific purchase,I use a Note10+ and have been using both iOS a...
97,5,Awesome,The phone is completely good\nAs far as camera...
98,5,Decent product,Everything u ll like it when u use this iPhone...
99,5,Mind-blowing purchase,Excellent camera 📸 And Display touching very N...

# Solution 6

In [468]:
url='https://www.flipkart.com/'
driver.get(url)

In [470]:
# Element to search given data on page
search_product = driver.find_element_by_class_name('_3704LK')
search_product.send_keys("sneakers")

In [471]:
Search_button = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
Search_button.click()

In [472]:
#Data From First Page
brand_tag = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
brand =[]

for i in brand_tag:
    brand.append(i.text)
len(brand)

40

In [474]:
des_tag = driver.find_elements_by_xpath('//div[@class="_3eWWd-"]')
product_des =[]

for i in des_tag:
    product_des.append(i.text)
len(product_des)

40

In [476]:
price_tag = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
product_price=[]
for i in price_tag:
    product_price.append(i.text)
len(product_price)

40

In [478]:
price_discount = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
product_discount =[]
for i in price_discount:
    product_discount.append(i.text)
len(product_discount)

39

In [479]:
Next_button = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
Next_button.click()

In [480]:
brand_tag = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
for i in brand_tag:
    brand.append(i.text)
len(brand)

80

In [481]:
des_tag = driver.find_elements_by_xpath('//div[@class="_3eWWd-"]')
for i in des_tag:
    product_des.append(i.text)
len(product_des)

80

In [482]:
price_tag = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
for i in price_tag:
    product_price.append(i.text)
len(product_price)

80

In [483]:
price_discount = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
for i in price_discount:
    product_discount.append(i.text)
len(product_discount)

79

In [485]:
Next_button = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
Next_button.click()

In [486]:
brand_tag = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
for i in brand_tag:
    brand.append(i.text)

In [487]:
des_tag = driver.find_elements_by_xpath('//div[@class="_3eWWd-"]')
for i in des_tag:
    product_des.append(i.text)

In [488]:
price_tag = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
for i in price_tag:
    product_price.append(i.text)

In [489]:
price_discount = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
for i in price_discount:
    product_discount.append(i.text)

In [490]:
products = pd.DataFrame()
products['Brand']= brand[0:100]
products['Product Description']= product_des[0:100]
products['Price']= product_price[0:100]
products['Discount']= product_discount[0:100]
products

             Brand Product Description   Price Discount
0       FRONTASTIC          Black, Red    ₹549  45% off
1            Echor               Black    ₹386  74% off
2         Magnolia               White    ₹398  60% off
3   luxury fashion               White    ₹449  65% off
4         URBANBOX        Black, White    ₹220  77% off
..             ...                 ...     ...      ...
95            PUMA               White  ₹3,999  53% off
96             HOC               White    ₹378  56% off
97           CLYMB                Grey    ₹699  50% off
98  KNIGHT WALKERS               White    ₹649  57% off
99        Longwalk                Blue    ₹248  59% off

[100 rows x 4 columns]

# Solution 7

In [495]:
url='https://www.myntra.com/shoes/'
driver.get(url)

In [496]:
price_check = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
price_check.click()

In [497]:
color_check = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
color_check.click()

In [499]:
#Data From First Page
brand_tag = driver.find_elements_by_xpath('//h3[@class="product-brand"]')
brand =[]

for i in brand_tag:
    brand.append(i.text)
len(brand)

50

In [500]:
des_tag = driver.find_elements_by_xpath('//h4[@class="product-product"]')
product_des =[]

for i in des_tag:
    product_des.append(i.text)
len(product_des)

50

In [502]:
price_tag = driver.find_elements_by_xpath('//div[@class="product-price"]')
product_price=[]
for i in price_tag:
    product_price.append(i.text)
len(product_price)

50

In [503]:
Next_button = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a')
Next_button.click()

In [504]:
brand_tag = driver.find_elements_by_xpath('//h3[@class="product-brand"]')
for i in brand_tag:
    brand.append(i.text)
len(brand)

100

In [505]:
des_tag = driver.find_elements_by_xpath('//h4[@class="product-product"]')
for i in des_tag:
    product_des.append(i.text)
len(product_des)

100

In [506]:
price_tag = driver.find_elements_by_xpath('//div[@class="product-price"]')
for i in price_tag:
    product_price.append(i.text)
len(product_price)

100

In [507]:
products = pd.DataFrame()
products['Brand']= brand
products['Product Description']= product_des
products['Price']= product_price
products

,Brand,Product Description,Price
0,Puma,Men Running Shoes,Rs. 7149Rs. 12999(45% OFF)
1,Puma,Men Magnify Nitro Running,Rs. 8449Rs. 12999(35% OFF)
2,Puma,Men Electrify Nitro Running,Rs. 7499Rs. 9999(25% OFF)
3,Saint G,Men Mid-Top Chelsea Boots,Rs. 9810Rs. 10900(10% OFF)
4,Puma,Women Magnify Nitro Shoes,Rs. 7799Rs. 12999(40% OFF)
...,...,...,...
95,Saint G,Suede Block Heeled Boots,Rs. 10350Rs. 11500(10% OFF)
96,Calvin Klein,Men Solid Leather Sneakers,Rs. 9999
97,Geox,Men Leather Formal Derbys,Rs. 8399Rs. 11999(30% OFF)
98,Geox,Women Leather High-Top Flat Boots,Rs. 12599Rs. 17999(30% OFF)
99,Saint G,Striped Suede Flatform Heeled Boots,Rs. 8910Rs. 9900(Rs. 990 OFF)

# Solution 8

In [80]:
url='https://www.amazon.in/'
driver.get(url)

In [81]:
# Element to search given data on page
search_product = driver.find_element_by_class_name('nav-input')
search_product.send_keys("Laptop")

In [82]:
Search_button = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div')
Search_button.click()

In [83]:
seemore_check = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/div/div/div[1]/div/span[2]/a/span')
seemore_check.click()

In [84]:
CPU_check = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/div/div/div[1]/div/span[1]/a[12]/div/span')
CPU_check.click()

In [137]:
title_tag = driver.find_elements_by_xpath('//a[@class="a-link-normal s-link-style a-text-normal"]')
product_title=[]
for i in title_tag:
    product_title.append(i.text)
len(product_title)

30

In [158]:
rating_tag = driver.find_elements_by_xpath('//div[@class="a-row a-size-small"]/span/span/a/i/span')
product_ratings=[]
for i in rating_tag:
    product_ratings.append(i.text)
len(product_ratings)

30

In [152]:
price_tag = driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
product_price=[]
for i in price_tag:
    product_price.append(i.text)
len(product_price)

29

In [159]:
products = pd.DataFrame()
products['Product Title']= product_title[0:10]
products['Ratings']= product_ratings[0:10]
products['Price']= product_price[0:10]
products

                                       Product Title Ratings     Price
0  LG Gram 17-inches Ultra-Light Intel Evo 11th G...            99,990
1  LG Gram 16-inches Ultra-Light Intel Evo 11th G...            95,990
2                           Mi Notebook - XMA1904-AF            57,990
3  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...            59,990
4  Acer Nitro 5 AN515-57 Gaming Laptop | Intel Co...            89,990
5  ASUS ZenBook 14 (2020) Intel Core i7-1165G7 11...            89,745
6  HP Pavilion 13, 11th Gen Intel Core i7, 13.3-i...            87,990
7  Lenovo ThinkBook 13s Intel 11th Gen Core i7 13...            79,990
8  ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cm...          1,14,990
9  Lenovo Yoga 7i 11th Gen Intel Core i7-1165G7 1...          1,03,990

# Solution 9

In [8]:
url='https://www.ambitionbox.com/'
driver.get(url)

In [9]:
job_button = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]')
job_button.click()

In [10]:
search_job = driver.find_element_by_class_name('input')
search_job.send_keys("Data Scientist")

In [11]:
search_button = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/button')
search_button.click()

In [12]:
location_button = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]/p')
location_button.click()

In [13]:
search_location = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
search_location.send_keys("Noida")

In [14]:
location_select = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
location_select.click()

In [15]:
name_tag = driver.find_elements_by_xpath('//a[@class="title noclick"]')
company_name=[]
for i in name_tag:
    company_name.append(i.text)
len(company_name)

10

In [16]:
jobdate_tag = driver.find_elements_by_xpath('//span[@class="body-small-l"]')
company_jobDate=[]
for i in jobdate_tag:
    company_jobDate.append(i.text)
len(company_jobDate)

20

In [18]:
jobDates =[]
for data in range(0, len(company_jobDate)):
    if data % 2 ==0:
        jobDates.append(company_jobDate[data])

In [19]:
rating_tag = driver.find_elements_by_xpath('//span[@class="body-small"]')
company_rating=[]
for i in rating_tag:
    company_rating.append(i.text)
len(company_rating)

10

In [20]:
jobs = pd.DataFrame()
jobs['Company Name Title']= company_name[0:10]
jobs['Job Date']= jobDates[0:10]
jobs['Ratings']= company_rating[0:10]
jobs

                                  Company Name Title Job Date Ratings
0                             Manager Data Scientist   2d ago     4.0
1                      Vice President - Data Science   8d ago     3.7
2                                     Data Scientist  25d ago     3.9
3             CogniTensor - Data Scientist (2-5 yrs)   9d ago     3.7
4             CogniTensor - Data Scientist (2-5 yrs)  10d ago     3.7
5  Data Scientist - Data Science/Model Developmen...  21d ago     4.1
6  Manager - Data Scientist - Retail/BFSI (8-15 yrs)  21d ago     4.1
7        Data Scientist - Consulting Firm (8-15 yrs)  21d ago     4.1
8  RMS Risk Management - Data Scientist - CNN/Dee...   3d ago     3.5
9               Data Science - Senior Data Scientist  28d ago     3.7

# Solution 10

In [24]:
url='https://www.ambitionbox.com/'
driver.get(url)

In [34]:
salary_button = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
salary_button.click()

In [42]:
search_job = driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
search_job.send_keys("Data Scientist")

In [43]:
select_job = driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p')
select_job.click()

In [48]:
company_tag = driver.find_elements_by_xpath('//div[@class="name"]')
company_name=[]
for i in company_tag:
    company_name.append(i.text.split("on")[0])
len(company_name)

10

In [71]:
salary_tag = driver.find_elements_by_xpath('//div[@class="name"]')
salary_total=[]
for i in salary_tag:
    salary_total.append(i.text.split("on ")[1])
len(salary_total)

10

In [72]:
avsalary_tag = driver.find_elements_by_xpath('//p[@class="averageCtc"]')
average_salary=[]
for i in avsalary_tag:
    average_salary.append(i.text)
len(average_salary)

10

In [73]:
min_max_salary_tag = driver.find_elements_by_xpath('//div[@class="value body-medium"]')
min_max_salary=[]
for i in min_max_salary_tag:
    min_max_salary.append(i.text)
len(min_max_salary)

20

In [74]:
minumum_salary =[]
maximum_salary=[]
for data in range(0, len(min_max_salary)):
    if data % 2 ==0:
        minumum_salary.append(min_max_salary[data])
    else:
        maximum_salary.append(min_max_salary[data])
len(maximum_salary)

10

In [75]:
exp_tag = driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
experience_required=[]
for i in exp_tag:
    experience_required.append(i.text.replace('\n',"").split(".")[1])
len(experience_required)

10

In [76]:
salary = pd.DataFrame()
salary['Company Name']= company_name
salary['Total Salary Record']= salary_total
salary['Average Salary']= average_salary
salary['Minimum Salary']= minumum_salary
salary['Maximum Salary']= maximum_salary
salary['Experienced REquired']= experience_required
salary

,Company Name,Total Salary Record,Average Salary,Minimum Salary,Maximum Salary,Experienced REquired
0,Walmart\nbased,10 salaries,₹ 28.7L,₹ 17.7L,₹ 35.0L,3 yrs exp
1,Ab Inbev\nbased,22 salaries,₹ 19.5L,₹ 15.0L,₹ 25.0L,3-4 yrs exp
2,ZS\nbased,14 salaries,₹ 15.8L,₹ 9.8L,₹ 20.0L,2 yrs exp
3,Fractal Analytics\nbased,72 salaries,₹ 15.0L,₹ 9.5L,₹ 22.0L,2-4 yrs exp
4,Optum\nbased,23 salaries,₹ 15.0L,₹ 11.0L,₹ 21.3L,3-4 yrs exp
5,UnitedHealth\nbased,49 salaries,₹ 13.5L,₹ 7.2L,₹ 20.5L,2-4 yrs exp
6,Tiger Analytics\nbased,27 salaries,₹ 13.5L,₹ 8.3L,₹ 18.5L,3-4 yrs exp
7,Veriz,14 salaries,₹ 12.7L,₹ 10.0L,₹ 21.0L,4 yrs exp
8,Ganit Business Soluti,13 salaries,₹ 12.4L,₹ 8.5L,₹ 15.0L,4 yrs exp
9,Ericss,42 salaries,₹ 11.9L,₹ 5.8L,₹ 21.5L,3-4 yrs exp