In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
url="https://www.imdb.com/india/top-rated-indian-movies/"

In [3]:
page=requests.get(url)
page

In [4]:
soup=BeautifulSoup(page.content,"html.parser")

In [5]:
scraped_movie_title=soup.find_all('td', class_='titleColumn')

In [6]:
movies_title=[]
for moviesTitle in scraped_movie_title:
        moviesTitle= moviesTitle.get_text().replace('\n',"")
        moviesTitle = moviesTitle.strip(" ")
        moviesTitle = moviesTitle.split("(")[0]
        movies_title.append(moviesTitle)

In [7]:
scraped_movie_ratings=soup.find_all('td', class_='ratingColumn imdbRating')

In [8]:
movies_ratings=[]
for moviesrating in scraped_movie_ratings:
    moviesrating= moviesrating.get_text().replace('\n','')
    movies_ratings.append(moviesrating)

In [9]:
scraped_year=soup.find_all('span', class_='secondaryInfo')

In [10]:
movies_years=[]
for year in scraped_year:
    year= year.get_text().replace('(','').replace(')','')
    movies_years.append(year)

In [11]:
data=pd.DataFrame()
data['Movie Name'] = movies_title[0:100]
data['Ratings'] = movies_ratings[0:100]
data['Year'] = movies_years[0:100]
data.head(100)

                      Movie Name Ratings  Year
0               1.      Jai Bhim     8.5  2021
1      2.      Pariyerum Perumal     8.5  2018
2                3.      Nayakan     8.5  1987
3             4.      Anbe Sivam     8.5  2003
4      5.      C/o Kancharapalem     8.5  2018
..                           ...     ...   ...
95  96.      Munna Bhai M.B.B.S.     8.1  2003
96            97.      Sarfarosh     8.1  1999
97                 98.      Roja     8.1  1992
98                99.      Queen     8.1  2013
99      100.      Dil Chahta Hai     8.1  2001

[100 rows x 3 columns]

In [12]:
data.to_csv('TopIndian100-Imdb-Movielist.csv', index=False)