In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
url="https://www.icc-cricket.com/rankings/womens/team-rankings/odi"
page=requests.get(url)
page

In [3]:
soup=BeautifulSoup(page.content,"html.parser")

In [4]:
scraped_team_name=soup.find_all('span', class_='u-hide-phablet')

In [5]:
team_names=[]
for teamname in scraped_team_name:
        teamname= teamname.get_text()
        team_names.append(teamname)

In [6]:
scraped_team_matches=soup.find_all('td', {"class":['rankings-block__banner--matches','rankings-block__banner--points','table-body__cell u-center-text']})

In [7]:
team_data=[]
for teamdata in scraped_team_matches:
        teamdata= teamdata.get_text()
        team_data.append(teamdata)

In [8]:
team_maches = []
team_points = []
for data in range(0, len(team_data)):
    if data % 2:
        team_points.append(team_data[data])
    else :
        team_maches.append(team_data[data])

In [9]:
scraped_team_ratings=soup.find_all('td', {"class":['rankings-block__banner--rating u-text-right','table-body__cell u-text-right rating']})

In [10]:
team_ratings=[]
for teamrating in scraped_team_ratings:
        teamrating= teamrating.get_text().replace('\n',"").strip(' ')
        team_ratings.append(teamrating)

In [11]:
data=pd.DataFrame()
data['Top 10 ODI Womens Team Name'] = team_names[0:10]
data['Matches'] = team_maches[0:10]
data['Points'] = team_points[0:10]
data['Ratings'] = team_ratings[0:10]
data.head(10)

  Top 10 ODI Womens Team Name Matches Points Ratings
0                   Australia      17  2,746     162
1                South Africa      19  2,307     121
2                     England      18  2,148     119
3                       India      17  1,899     112
4                  Bangladesh       5    475      95
5                 New Zealand      19  1,668      88
6                 West Indies      19  1,658      87
7                    Pakistan      18  1,226      68
8                     Ireland       5    240      48
9                   Sri Lanka       5    233      47

In [25]:
data.to_csv('OdI-womens-Teams.csv', index=False)