In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
url="https://www.imdb.com/chart/top/"

In [3]:
page=requests.get(url)
page

In [4]:
soup=BeautifulSoup(page.content,"html.parser")

In [5]:
scraped_movie_title=soup.find_all('td', class_='titleColumn')

In [6]:
movies_title=[]
for moviesTitle in scraped_movie_title:
        moviesTitle= moviesTitle.get_text().replace('\n',"")
        moviesTitle = moviesTitle.strip(" ")
        moviesTitle = moviesTitle.split("(")[0]
        movies_title.append(moviesTitle)

In [7]:
scraped_movie_ratings=soup.find_all('td', class_='ratingColumn imdbRating')

In [8]:
movies_ratings=[]
for moviesrating in scraped_movie_ratings:
    moviesrating= moviesrating.get_text().replace('\n','')
    movies_ratings.append(moviesrating)

In [9]:
scraped_year=soup.find_all('span', class_='secondaryInfo')

In [10]:
movies_years=[]
for year in scraped_year:
    year= year.get_text().replace('(','').replace(')','')
    movies_years.append(year)

In [11]:
data=pd.DataFrame()
data['Movie Name'] = movies_title[0:100]
data['Ratings'] = movies_ratings[0:100]
data['Year'] = movies_years[0:100]
data.head(100)

                                         Movie Name Ratings  Year
0                  1.      The Shawshank Redemption     9.2  1994
1                             2.      The Godfather     9.1  1972
2                    3.      The Godfather: Part II     9.0  1974
3                           4.      The Dark Knight     9.0  2008
4                              5.      12 Angry Men     8.9  1957
..                                              ...     ...   ...
95                                  96.      Jagten     8.3  2012
96                     97.      Requiem for a Dream     8.3  2000
97                     98.      Singin' in the Rain     8.3  1952
98                      99.      North by Northwest     8.3  1959
99  100.      Eternal Sunshine of the Spotless Mind     8.3  2004

[100 rows x 3 columns]

In [12]:
data.to_csv('Top100-Imdb-Movielist.csv', index=False)