In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
url="https://www.icc-cricket.com/rankings/womens/player-rankings/odi/Bowling"
page=requests.get(url)
page

In [3]:
soup=BeautifulSoup(page.content,"html.parser")

In [4]:
scraped_Bowlers_name=soup.find_all({'div','td'}, {"class":['rankings-block__banner--name-large','table-body__cell rankings-table__name name']})

In [5]:
bowlers_name=[]
for bowlersname in scraped_Bowlers_name:
        bowlersname = bowlersname.get_text().replace('\n',"")
        bowlersname = bowlersname.strip(" ")
        bowlers_name.append(bowlersname)

In [6]:
scraped_Bowlers_team=soup.find_all({'div','span'}, {"class":['rankings-block__banner--nationality','table-body__logo-text']})

In [7]:
bowlers_team=[]
for bowlersteam in scraped_Bowlers_team:
        bowlersteam = bowlersteam.get_text().replace('\n',"")
        bowlersteam = bowlersteam.strip(" ")
        bowlers_team.append(bowlersteam)

In [8]:
scraped_Bowlers_ratings=soup.find_all({'div','td'}, {"class":['rankings-block__banner--rating','table-body__cell rating']})

In [9]:
bowlers_ratings=[]
for bowlersrating in scraped_Bowlers_ratings:
        bowlersrating = bowlersrating.get_text().replace('\n',"")
        bowlersrating = bowlersrating.strip(" ")
        bowlers_ratings.append(bowlersrating)

In [10]:
data=pd.DataFrame()
data['Top 10 ODI Bowlers Name'] = bowlers_name[0:10]
data['Team'] = bowlers_team[0:10]
data['Raitings'] = bowlers_ratings[0:10]
data.head(10)

  Top 10 ODI Bowlers Name Team Raitings
0           Jess Jonassen  AUS      760
1          Jhulan Goswami  IND      727
2            Megan Schutt  AUS      717
3          Marizanne Kapp   SA      715
4       Sophie Ecclestone  ENG      701
5          Shabnim Ismail   SA      688
6         Katherine Brunt  ENG      666
7          Ayabonga Khaka   SA      643
8          Anya Shrubsole  ENG      598
9              Kate Cross  ENG      589

In [12]:
data.to_csv('OdI-Womens-Bowlers.csv', index=False)