In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
url="https://www.icc-cricket.com/rankings/mens/team-rankings/odi"
page=requests.get(url)
page

In [3]:
soup=BeautifulSoup(page.content,"html.parser")

In [4]:
scraped_team_name=soup.find_all('span', class_='u-hide-phablet')

In [5]:
team_name=[]
for teamname in scraped_team_name:
        teamname= teamname.get_text().replace('\n',"")
        team_name.append(teamname)

In [6]:
scraped_team_matches=soup.find_all('td', {"class":['rankings-block__banner--matches','rankings-block__banner--points', 'table-body__cell u-center-text']})

In [7]:
team_data=[]
for teamdatas in scraped_team_matches:
        teamdatas = teamdatas.get_text().replace('\n',"")
        team_data.append(teamdatas)

In [8]:
team_maches = []
team_points = []
for data in range(0, len(team_data)):
    if data % 2:
        team_points.append(team_data[data])
    else :
        team_maches.append(team_data[data])

In [9]:
scraped_team_ratings=soup.find_all('td', {"class":['rankings-block__banner--rating u-text-right','table-body__cell u-text-right rating']})

In [10]:
team_ratings=[]
for teamrating in scraped_team_ratings:
        teamrating = teamrating.get_text().replace('\n',"")
        teamrating = teamrating.strip(" ")
        team_ratings.append(teamrating)

In [11]:
data=pd.DataFrame()
data['Top 10 ODI Team Name'] = team_name[0:10]
data['Matches'] = team_maches[0:10]
data['Points'] = team_points[0:10]
data['Raitings'] = team_ratings[0:10]
data.head(10)

  Top 10 ODI Team Name Matches Points Raitings
0          New Zealand      17  2,054      121
1              England      32  3,793      119
2            Australia      28  3,244      116
3                India      32  3,624      113
4         South Africa      25  2,459       98
5             Pakistan      27  2,524       93
6           Bangladesh      30  2,740       91
7          West Indies      30  2,523       84
8            Sri Lanka      32  2,657       83
9          Afghanistan      17  1,054       62

In [30]:
data.to_csv('OdI-Mens-Teams.csv', index=False)