In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
url="https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"
page=requests.get (url)
page

In [3]:
soup=BeautifulSoup(page.content,"html.parser")

In [4]:
scraped_Batsmen_name=soup.find_all({'div','td'}, {"class":['rankings-block__banner--name-large','table-body__cell rankings-table__name name']})

In [5]:
batsmen_name=[]
for batsmenname in scraped_Batsmen_name:
        batsmenname= batsmenname.get_text().replace('\n',"")
        batsmen_name.append(batsmenname)

In [6]:
scraped_Batsmen_team=soup.find_all({'div','span'}, {"class":['rankings-block__banner--nationality','table-body__logo-text']})

In [7]:
batsmen_team=[]
for batsmenteam in scraped_Batsmen_team:
        batsmenteam = batsmenteam.get_text().replace('\n',"")
        batsmenteam = batsmenteam.strip(" ")
        batsmen_team.append(batsmenteam)

In [8]:
scraped_Batsmen_ratings=soup.find_all({'div','td'}, {"class":['rankings-block__banner--rating','table-body__cell rating']})

In [9]:
batsmen_ratings=[]
for batsmenrating in scraped_Batsmen_ratings:
        batsmenrating = batsmenrating.get_text().replace('\n',"")
        batsmenrating = batsmenrating.strip(" ")
        batsmen_ratings.append(batsmenrating)

In [10]:
data=pd.DataFrame()
data['Top 10 ODI Women Batsmen Name'] = batsmen_name[0:10]
data['Team'] = batsmen_team[0:10]
data['Raitings'] = batsmen_ratings[0:10]
data.head(10)

  Top 10 ODI Women Batsmen Name Team Raitings
0                   Lizelle Lee   SA      761
1                  Alyssa Healy  AUS      750
2                   Mithali Raj  IND      738
3                Tammy Beaumont  ENG      728
4             Amy Satterthwaite   NZ      717
5               Smriti Mandhana  IND      710
6                   Meg Lanning  AUS      699
7                   Beth Mooney  AUS      690
8               Stafanie Taylor   WI      676
9                Heather Knight  ENG      674

In [26]:
data.to_csv('OdI-Women-Batsmen.csv', index=False)